.dashboard {
  display: flex;
}

body {
  overflow: auto;
}

.stats {
  flex: 1;
  padding: 20px;
  width: calc(100% - 256px);
}

header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

h1 {
  position: absolute;
  margin-left: 20px;
  margin-top: 15px;
}

.text {
  text-align: center;
  margin: 20px 0;
}