body {
  overflow: auto;
}

.dashboard {
  display: flex;
}

.stats {
  flex: 1;
  padding: 20px;
  width: calc(100% - 256px);
}

header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}