.posts-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  overflow: auto;
  max-height: 100vh;
}

.posts-container::-webkit-scrollbar {
  width: 10px;
}

.posts-container::-webkit-scrollbar-track {
  background-color: #d7d6d6;
  border-radius: 10px;
}

.posts-container::-webkit-scrollbar-thumb {
  background-color: #F37F29;
  border-radius: 10px;
}